/* general links color */
a {
	color: #35aa47;
}
/***
General More Link
***/
a.more {
  color: #ff8400;
}

/*Global classes*/

.theme-btn {
	color:#fff; 
	background: #35aa47 !important; 
	border: solid 1px #35aa47;
}
 
.theme-btn:hover {
	color:#fff; 
	background: #1aa22f !important; 
	border: solid 1px #1aa22f;
}

/********************
 GENERAL LAYOUT 
*********************/

/***
Header and header elements.
***/
/*Navigation*/
.header a.brand b {
	color: #35aa47;
}

.header .navbar-nav > li > a:hover,
.header .navbar-nav li.active > a,
.header .navbar-nav li.active:hover > a {
	color: #2b85b6 !important;
	border-top: solid 2px #2b85b6 !important;
}

.header .in.collapse li a:hover {
	background: #35aa47;
}

.header .in.collapse li.active > a,
.header .in.collapse li.active:hover > a {
	background: #35aa47;
}

.header .nav li.active > a:after { 
	border-top: 3px solid #35aa47;
}
@media (max-width: 767px) {
.header.navbar-default .navbar-nav > li > a:hover, .header.navbar-default .navbar-nav > .active > a, .header.navbar-default .navbar-nav > .active > a:hover, .header.navbar-default .navbar-nav > .active > a:focus {
	background: #35aa47 !important;
	color: #fff !important;
}
}
.header .nav li.dropdown.open>.dropdown-toggle {
	color: #35aa47;
}

/*Navigation Toggle Icon*/
.header .navbar-btn{
	background:#35aa47 !important;
}

.header .navbar-btn:hover {
	background:#1fa333 !important;
}

/*Navigation Dropdown*/
.header .dropdown-menu {
	border-top: solid 2px #35aa47 !important;
}

.header .navbar-inner .nav li.dropdown.open>.dropdown-toggle {
	color: #35aa47;
}

.header .navbar-inner .in.collapse li.dropdown.active > a,
.header .navbar-inner .in.collapse li.dropdown.active:hover > a {
	background: #35aa47;
}

.header .nav > li.dropdown.open.active > a:hover,
.header .nav > li.dropdown.open.active > a:focus {
  border-color: #35aa47;
}

/*Menu Search*/
.header .navbar-inner li.menu-search i:hover {
	color: #ff8400;
}

/***
Content and content elements.
***/

/*Revolution Slider*/
.slide_subtitle {
	background-color: #ff8400;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover { 
	background-color: #35aa47 !important;	
}

/*Bx Slider & Testimonial Carousel*/
.recent-work ul.bxslider li:hover a.bxslider-block {
	background: #35aa47;
}

.recent-work ul.bxslider li i.icon-hover-1:hover,
.recent-work ul.bxslider li i.icon-hover-2:hover {
	color: #35aa47;
}

.bx-wrapper .bx-prev:hover,
.testimonials-v1 .left-btn:hover  {
	background: url(../../img/sliders/bxslider/left-green-hover.png) no-repeat;
}

.bx-wrapper .bx-next:hover, 
.testimonials-v1 .right-btn:hover  {
	background: url(../../img/sliders/bxslider/right-green-hover.png) no-repeat;
}

.testimonials-v1 .item span.testimonials-slide {
	background: #f8f8f8 url(../../img/sliders/carousel/corners-green.png) no-repeat right bottom;
}	

/*Blockquote Box*/
.quote-v1 {
	background: #7c858e;
}

a.btn-transparent:hover {
  background: #35aa47;
}

/*Tabs*/
.tab-style-1 ul.nav-tabs {
	border-bottom-color: #35aa47; 
}

.tab-style-1 ul.nav-tabs li > a:hover {
	background: #ff8400;
	border-color: #ff8400;
}

.tab-style-1 ul.nav-tabs .active > a,
.tab-style-1 ul.nav-tabs .active > a:hover,
.tab-style-1 ul.nav-tabs .active > a:focus {
	background: #ff8400;
	border-color: #ff8400;
}

/*Testimonials*/
.testimonials-v1 span.testimonials-name {
	color: #35aa47;
}

/*Steps*/
.front-steps.front-step-one {
	background: #35aa47 url(../../img/steps/one.png) no-repeat right bottom;
}

.front-steps.front-step-one:after { 
	border-left: 15px solid #57b866;
}

/***
Footer
***/
.footer a {
	color: #ff8400;
}

/***
Copyright
***/
.copyright p a {
	color: #ff8400;
}

/*Breadcrumbs*/
.breadcrumbs li a {
	color: #ff8400;
}

/*Skils*/
.front-skills .progress .bar {
	background: none #35aa47;
}

/*Team Blocks*/
.front-team h3 a {
	color: #35aa47;
}

/*Service Box v1*/
.service-box-v1:hover {
	background: #FF8400;
}

/***
Blog Page
***/
/*Blog Posts*/
.blog-info li i {
	color: #35aa47;
}

/*Blog Sidebar*/
.blog-photo-stream li img:hover {
	border-color: #35aa47;
}

.blog-tags li a:hover {
	background: #35aa47;
}

.blog-tags li i {
	color: #35aa47;
}

.blog-tags li a:hover:after { 
	border-left-color: #35aa47;
}

/* Blog Item */
.blog-item blockquote {
	border-color: #35aa47;
}

.blog-item h4.media-heading span a {
    color: #35aa47;
}

/* Portfolio */
.filter-v1 .filter-category li:hover,
.filter-v1 .filter-category li.active {
	color: #fff;
	background: #35aa47;
}

.grid-v1 li .hover-portfolio {
	background: #35aa47;
}

.grid-v1 li a.hover-portfolio-lft, 
.grid-v1 li a.hover-portfolio-rgt {
	background: #37cf4f;
}

/* Pricing */
.pricing-table:hover {
  border-color: #35aa47;
}

.pricing-table2:hover {
  border-color: #35aa47;
}

.pricing-table ul li i {
  color: #35aa47;
}

.pricing-table.selected {
  background-color: #35aa47;
}

.pricing-table2.selected {
  background-color: #35aa47;
}

.pricing-table2 ul li i {
  color: #35aa47;
}

.pricing-table2 .rate { 
  background-color: #35aa47;
}

.pricing:hover,
.pricing-active {
  border-color:#35aa47;
}
.pricing:hover h4 {
  color:#35aa47;
}

.pricing-head h3 {
  background:#35aa47;
  border-bottom:solid 1px #35aa47;
}

.pricing-head-active h4 {
  color:#35aa47;
}

.pricing-content li i {
  color:#35aa47;
}

.price-active h4 {
  color:#35aa47;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  color:#35aa47;
}

/* error colors */
.page-404 .number, .page-500 .number {
	color:#35aa47;
}

/***
Vertical inline menu
***/
.ver-inline-menu {
	border-left: solid 2px #35aa47;
}
.ver-inline-menu li:hover a{
	background: #35aa47;
}
.ver-inline-menu li.active a{
  background: #35aa47;
}
.ver-inline-menu li.active:after {
  border-left: 6px solid #35aa47;
}